/* phone version */
@media only screen and (min-width: 320px) {
    
}
/*table version */
@media only screen and (min-width: 768px) {

}
/*desktop version*/ 
@media (min-width: 900px) {
  .table {
    display: flex; 
    justify-content: space-between;
  }
}
@font-face {
    font-family: 'fha';
    src: url('resources/fonts/all/fhacondfrenchshadednc-webfont.woff2') format('woff2'),
         url('resources/fonts/all/fhacondfrenchshadednc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('resources/fonts/all/robotowoff/robotoslab-regular-webfont.woff2') format('woff2'),
         url('resources/fonts/all/robotowoff/robotoslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto-bold';
    src: url('resources/fonts/all/robotowoff/bold/robotoslab-bold-webfont.woff2') format('woff2'),
         url('resources/fonts/all/robotowoff/bold/robotoslab-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
font-family: 'roboto-bold', "Arial";
text-transform: uppercase;
letter-spacing: 0.1em;
font-size: 100%;
text-align: center;
}

body {
    background-color: whitesmoke;
    text-align:center;
}

body, html {
  height: 100%;
}

.parallax1 {
    background-image: url("Photos/alexanderplatz.jpg");
    min-height: 100%;
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image: url("Photos/berlin2.jpg");
    min-height: 100%;
    /* Full height */
    height: 100%;
    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* paralax scrolling for all tablets and phones turned off */
@media only screen and (max-device-width: 1366px) {
    .parallax1 {
      background-attachment: scroll;
    }
  }
/* paralax scrolling for all tablets and phones turned off */
@media only screen and (max-device-width: 1366px) {
  .parallax2 {
    background-attachment: scroll;
  }
}

.intro {
    font-family: 'roboto', "Arial";
    font-size: 30px;
    display: block;
    text-align: center;
    color: #000;
    padding-left: 35px; 
    padding-right: 35px; 
}

.table {
    padding: 10px 10px 10px 65px;
    max-width: 1366px;
}
#day-tour, #weekend-tour, #week-tour {
  box-sizing: border-box; 
  margin-bottom: 20px; 
  padding: 20px; 
  flex-basis: 30%;
}
.even{
    background-color: #efefef;
    }

footer {
    margin: 0px;
    padding: 10px;
    border-style: none;
    background-color: #d4d3d3;
}
a {
    text-decoration: none;
    color: #FF5733;
}
p {
    font-family: 'roboto', "Arial";
    display: block;
    text-align:center;
    
}
.products {
    font-family: 'roboto-bold', "Arial";
    font-size: 40px;
  
}
.size {
    font-size: 25px;
    text-align:center;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .snapchat {
    background: #ffff00 ;
    color: white;
  }
  
  .linkedin {
    background: #8B0000	;
    color: white;
  }

  .instagram {
      background: #228B22;
      color: white;
  }
  
  .topnav {
    overflow: hidden; 
    background-color: #ddd;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color:#4A5F58;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #F9DA28;
    color: #4A5F58;
  }
  .topnav .search-container {
    float: right;
  }
  .topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px; 
    background-color: #F9DA28; 
    font-size: 17px; 
    border: none; 
    cursor: pointer; 
    width: 100%;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 30%;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

/*styling accordion for FAQ page*/
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center; 
  }

  .answer {
    text-align: center;   
    padding: 0 10% 0 10%; 
  }

  * {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
